/* Main styles*/

.home-container {
  /* min-height: 100vh; */
  /* background-color: "#ff00ff"; */
}

.rowe{
  min-height: 50vh; ;
}


/* Hero styles */

.home-hero{
  min-height: 100vh;
  background-image: url("../../assets/images/hero-background.jfif");
  background-color: #cccccc;
  /* height: 500px;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-white);
}

/* About us*/
.about-us{
  background-color: lightgray;
}

/* Services */
.services{
  background-color: lightsalmon;
}

/* Instalations */
.instalations{
  background-color: lightgreen;
}

/* Atention Hour*/
.atention-hour{
  background-color: lightblue;
}

/* Ubication */
.ubication{
  background-color: lightskyblue;
}

/* Contact */
.contact{
  background-color: lightcoral;
}

/* Footer */
.footer{
  background-color: var(--color-gray);
}