/* Main styles*/

.home-container {
  /* min-height: 100vh; */
  /* background-color: "#ff00ff"; */
}

.rowe{
  min-height: 50vh; ;
}


/* Hero styles */

.home-hero{
  min-height: 100vh;
  background-image: url("../../assets/images/hero-background.jfif");
  background-color: #cccccc;
  /* height: 500px;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-white);
}